.jumbotron{
	text-align: center;
	background:url("https://i.pinimg.com/236x/41/f1/5f/41f15f616c4cca1b16e1836e0d4b5669--plain-background-lularoe-logo.jpg");
	color: #FF0000;
	font-family: 'PT Sans', sans-serif;
}	

.directions{
	font-size: 100%;
}

.title{
	font-size: 400%;
}

#image{
	size: 400x400;
}

.form-group{
	color: white;
}

#submit{
	background-color: black;
	color: red;
	font-size: 400%;
}
.container{
	background:url("https://i.pinimg.com/236x/41/f1/5f/41f15f616c4cca1b16e1836e0d4b5669--plain-background-lularoe-logo.jpg");
	font-family: 'Maven Pro', sans-serif;
	color: #D8080B;
	text-align: center;
	padding-bottom: 50px;
}
#nick{
	font-size: 200%;
	text-align: center;
	color: white;
	padding-top: 50px;

}
#q1{
	background-color: Black;
}

#q2{
	background-color: Black;
}
#q3{
	background-color: Black;
}

#q4{
	background-color: Black;
}

#q5{
	background-color: Black;
}

#q6{
	background-color: Black;
}

#q7{
	background-color: Black;
}
#thing{
	font-family: 'Maven Pro', sans-serif;
	color:black;
}

#sides{
	margin:25;
}
#left{
	float:left;
	width:50%;
	overflow:hidden;
	background:url("https://i.pinimg.com/236x/41/f1/5f/41f15f616c4cca1b16e1836e0d4b5669--plain-background-lularoe-logo.jpg");
		
}
#right{
	float:left;
	width:50%;
	overflow:hidden;
	color: black;
	text-align: center;
	background:url("https://i.pinimg.com/236x/41/f1/5f/41f15f616c4cca1b16e1836e0d4b5669--plain-background-lularoe-logo.jpg");
}
#container2{
	background:url("https://i.pinimg.com/236x/41/f1/5f/41f15f616c4cca1b16e1836e0d4b5669--plain-background-lularoe-logo.jpg");
}
#entersongid{
	font-size: 400%;
	color: white;
	padding-top:25px;
	font-family: 'Maven Pro', sans-serif;
}
#result{
	font-size: 400%;
	color: white;
	padding-top:25px;
	font-family: 'Maven Pro', sans-serif;
}
#pg3title{
	font-family: 'Maven Pro', sans-serif;
	color: #D8080B;
	text-align: center;
	font-size: 400%;
	padding-top: 50px;
	font-family: 'Maven Pro', sans-serif;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #F2070B;
    margin: 1em 0;
    padding: 0;
}
#pg2title{
	font-size: 400%;
	color: red;
	font-family: 'Maven Pro', sans-serif;
}
#signin{
	padding-top: 20px;
}
#signupform{
	color: red;
}
